body {
	background: #eee url(paper.jpg) top left fixed
}

#poster {
	max-width: 30em;
	color: #fff;
	background-color: #111;
	font-family: 'Georgia';
	text-align: center;
	font-size: 1.5em;
	line-height: 2em;
	padding: 1em 1em 1em 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	border-style: double;
	border-width: 25px;
	border-color: #eee
}

#stay-cool-coolster {
	font-style: italic
}
